*.iml
.gradle
.metadata/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/android_app/signing
/publisher_project/*.pem
/publisher_project/*.apk
/publisher_project/bin/*
/publisher_project/src/br/com/zynger/continuousdeploy/Constants.java