*.iml
.gradle
.metadata/
/local.properties
/**/local.properties
/build/**
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/android_app/signing
/build/**
/**/build/**
/.idea/**
/.idea/**
/.idea/**
/**/.idea/
/**/*.pem
/**/*.apk
/**/bin/*
/**/Constants.java
